In [1]:
# importamos las librerías que necesitamos

# Tratamiento de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

# Imputación de nulos usando métodos avanzados estadísticos
# -----------------------------------------------------------------------
from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

# Librerías de visualización
# -----------------------------------------------------------------------
import seaborn as sns
import matplotlib.pyplot as plt
# Configuración
# -----------------------------------------------------------------------
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

# Pair Nulos
Ejercicios gestión de nulos

El objetivo del ejercicio es identificar las columnas que contienen valores nulos y aplicar un proceso de imputación para manejarlos de manera adecuada.

Instrucciones:

In [4]:
df = pd.read_csv("world_data_full.csv", index_col=0)

df.head(3)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.1,"652,230","323,000",32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,0.70,"19,101,353,833",104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",33.93911,67.709953
1,Albania,105,AL,43.1,"28,748","9,000",11.78,355.0,Tirana,"4,536",119.05,1.4,ALL,1.62,28.1,1.36,"15,278,077,447",107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.4,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",151.36,2.0,DZD,3.02,0.8,0.28,"169,988,236,398",109.9,51.4,20.1,Algiers,76.7,112.0,0.95,Arabic,28.1,1.72,"43,053,054",41.2,37.2,66.1,11.70,"31,510,100",28.033886,1.659626

In [8]:
# Identificación de Valores Nulos: Identifica todas las columnas que contengan valores nulos en el DataFrame.

df.isna().sum()/df.shape[0]*100

country                                  0.000000
density                                  0.000000
abbreviation                             3.589744
agricultural_land                        3.589744
land_area                                0.512821
armed_forces_size                       12.307692
birth_rate                               3.076923
calling_code                             0.512821
capital/major_city                       1.538462
co2-emissions                            3.589744
cpi                                      8.717949
cpi_change                               8.205128
currency-code                            7.692308
fertility_rate                           3.589744
forested_area                            3.589744
gasoline_price                          10.256410
gdp                                      1.025641
gross_primary_education_enrollment       3.589744
gross_tertiary_education_enrollment      6.153846
infant_mortality                         3.076923
largest_city                             3.076923
life_expectancy                          4.102564
maternal_mortality_ratio                 7.179487
minimum_wage                            23.076923
official_language                        2.564103
out_of_pocket_health_expenditure         3.589744
physicians_per_thousand                  3.589744
population                               0.512821
population_labor_force_participation     9.743590
tax_revenue                             13.333333
total_tax_rate                           6.153846
unemployment_rate                        9.743590
urban_population                         2.564103
latitude                                 0.000000
longitude                                0.000000
dtype: float64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 195 entries, 0 to 194
Data columns (total 35 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   country                               195 non-null    object
 1   density                               195 non-null    object
 2   abbreviation                          188 non-null    object
 3   agricultural_land                     188 non-null    float64
 4   land_area                             194 non-null    object
 5   armed_forces_size                     171 non-null    object
 6   birth_rate                            189 non-null    float64
 7   calling_code                          194 non-null    float64
 8   capital/major_city                    192 non-null    object
 9   co2-emissions                         188 non-null    object
 10  cpi                                   178 non-null    object
 11  cpi_change                            179 non-null    float64
 12  currency-code                         180 non-null    object
 13  fertility_rate                        188 non-null    float64
 14  forested_area                         188 non-null    float64
 15  gasoline_price                        175 non-null    float64
 16  gdp                                   193 non-null    object
 17  gross_primary_education_enrollment    188 non-null    float64
 18  gross_tertiary_education_enrollment   183 non-null    float64
 19  infant_mortality                      189 non-null    float64
 20  largest_city                          189 non-null    object
 21  life_expectancy                       187 non-null    float64
 22  maternal_mortality_ratio              181 non-null    float64
 23  minimum_wage                          150 non-null    float64
 24  official_language                     190 non-null    object
 25  out_of_pocket_health_expenditure      188 non-null    float64
 26  physicians_per_thousand               188 non-null    float64
 27  population                            194 non-null    object
 28  population_labor_force_participation  176 non-null    float64
 29  tax_revenue                           169 non-null    float64
 30  total_tax_rate                        183 non-null    float64
 31  unemployment_rate                     176 non-null    float64
 32  urban_population                      190 non-null    object
 33  latitude                              195 non-null    object
 34  longitude                             195 non-null    object
dtypes: float64(19), object(16)
memory usage: 54.8+ KB

In [13]:
(df.isnull().sum()[df.isnull().sum() > 0])/df.shape[0]*100

abbreviation                             3.589744
agricultural_land                        3.589744
land_area                                0.512821
armed_forces_size                       12.307692
birth_rate                               3.076923
calling_code                             0.512821
capital/major_city                       1.538462
co2-emissions                            3.589744
cpi                                      8.717949
cpi_change                               8.205128
currency-code                            7.692308
fertility_rate                           3.589744
forested_area                            3.589744
gasoline_price                          10.256410
gdp                                      1.025641
gross_primary_education_enrollment       3.589744
gross_tertiary_education_enrollment      6.153846
infant_mortality                         3.076923
largest_city                             3.076923
life_expectancy                          4.102564
maternal_mortality_ratio                 7.179487
minimum_wage                            23.076923
official_language                        2.564103
out_of_pocket_health_expenditure         3.589744
physicians_per_thousand                  3.589744
population                               0.512821
population_labor_force_participation     9.743590
tax_revenue                             13.333333
total_tax_rate                           6.153846
unemployment_rate                        9.743590
urban_population                         2.564103
dtype: float64

In [30]:
# Selección de Método de Imputación: 
# Discute en tu compañera cuál sería la mejor estrategia para manejar los valores nulos en cada una de las columnas identificadas en el paso anterior.
df.describe(include="O").T

                   count unique              top freq
country              195    195      Afghanistan    1
density              195    137               25    7
abbreviation         188    188               AF    1
land_area            194    194          652,230    1
armed_forces_size    171    105            2,000    7
capital/major_city   192    192            Kabul    1
co2-emissions        188    184           28,284    2
cpi                  178    175           106.58    2
currency-code        180    133              EUR   23
gdp                  193    193  19,101,353,833     1
largest_city         189    188            S����    2
official_language    190     76          English   31
population           194    194       38,041,754    1
urban_population     190    190        9,797,273    1
latitude             195    195        33.93911     1
longitude            195    195        67.709953    1

In [16]:
df["abbreviation"].unique()

array(['AF', 'AL', 'DZ', 'AD', 'AO', 'AG', 'AR', 'AM', 'AU', 'AT', 'AZ',
       'BS', 'BH', 'BD', 'BB', 'BY', 'BE', 'BZ', 'BJ', 'BT', 'BO', 'BA',
       'BW', 'BR', 'BN', 'BG', 'BF', 'BI', 'CI', 'CV', 'KH', 'CM', 'CA',
       'CF', 'TD', 'CL', 'CN', 'CO', 'KM', nan, 'CR', 'HR', 'CU', 'CY',
       'CZ', 'CD', 'DK', 'DJ', 'DM', 'DO', 'EC', 'EG', 'SV', 'GQ', 'ER',
       'EE', 'ET', 'FJ', 'FI', 'FR', 'GA', 'GM', 'GE', 'DE', 'GH', 'GR',
       'GD', 'GT', 'GN', 'GW', 'GY', 'HT', 'HN', 'HU', 'IS', 'IN', 'ID',
       'IR', 'IQ', 'IL', 'IT', 'JM', 'JP', 'JO', 'KZ', 'KE', 'KI', 'KW',
       'KG', 'LA', 'LV', 'LB', 'LS', 'LR', 'LY', 'LI', 'LT', 'LU', 'MG',
       'MW', 'MY', 'MV', 'ML', 'MT', 'MH', 'MR', 'MU', 'MX', 'FM', 'MD',
       'MC', 'MN', 'ME', 'MA', 'MZ', 'MM', 'NR', 'NP', 'NL', 'NZ', 'NI',
       'NE', 'NG', 'KP', 'NO', 'OM', 'PK', 'PW', 'PA', 'PG', 'PY', 'PE',
       'PH', 'PL', 'PT', 'QA', 'RO', 'RU', 'RW', 'KN', 'LC', 'VC', 'WS',
       'SM', 'ST', 'SA', 'SN', 'RS', 'SC', 'SL', 'SG', 'SK', 'SI', 'SB',
       'SO', 'ZA', 'KR', 'SS', 'ES', 'LK', 'SD', 'SR', 'SE', 'CH', 'SY',
       'TJ', 'TZ', 'TH', 'TL', 'TG', 'TO', 'TT', 'TN', 'TR', 'TM', 'TV',
       'UG', 'UA', 'AE', 'GB', 'US', 'UY', 'UZ', 'VU', 'VE', 'VN', 'YE',
       'ZM', 'ZW'], dtype=object)

In [28]:
df[df["abbreviation"].isna()]

# hay 7 valores nulos en la columna abbreviation, deberemmos de modificar uno a uno los datos o bien dejarlos nulos, según las exigencias de nuestro estudio

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
39,Republic of the Congo,16,NaN,31.1,"342,000","12,000",32.86,242.0,Brazzaville,"3,282",124.74,2.2,XAF,4.43,65.4,0.97,"10,820,591,131",106.6,12.7,36.2,Brazzaville,64.3,378.0,0.88,French,43.8,0.12,"5,380,508",69.4,9.0,54.3,9.47,"3,625,010",-0.228021,15.827659
56,Eswatini,67,NaN,NaN,"17,364",NaN,NaN,268.0,Mbabane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"3,791,304,348",NaN,NaN,NaN,Mbabane,NaN,NaN,NaN,English,11.3,NaN,"1,093,238",NaN,28.6,NaN,NaN,NaN,-26.522503,31.465866
73,Vatican City,"2,003",NaN,NaN,0,NaN,NaN,379.0,Vatican City,NaN,NaN,NaN,EUR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Italian,NaN,NaN,836,NaN,NaN,NaN,NaN,NaN,41.902916,12.453389
81,Republic of Ireland,72,NaN,64.5,"70,273","9,000",12.50,353.0,Dublin,"37,711",106.58,0.9,EUR,1.75,11.0,1.37,"388,698,711,348",100.9,77.8,3.1,Connacht,82.3,5.0,10.79,Irish,15.2,3.31,"5,007,069",62.1,18.3,26.1,4.93,"3,133,123",53.41291,-8.24389
119,Namibia,3,NaN,47.1,"824,292","16,000",28.64,264.0,Windhoek,"4,228",157.97,3.7,NaN,3.40,8.3,0.76,"12,366,527,719",124.2,22.9,29.0,Windhoek,63.4,195.0,NaN,English,8.3,0.42,"2,494,530",59.5,27.1,20.7,20.27,"1,273,258",-22.95764,18.49041
128,North Macedonia,83,NaN,NaN,"25,713",NaN,NaN,389.0,Skopje,NaN,NaN,NaN,MKD,NaN,NaN,NaN,"10,220,781,069",NaN,NaN,NaN,Skopje,NaN,NaN,NaN,Macedonian,35.6,NaN,"1,836,713",NaN,NaN,NaN,NaN,NaN,41.608635,21.745275
133,Palestinian National Authority,847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Arabic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.952162,35.233154

In [ ]:
df[df["land_area"].isna()]

# apenas arroja información por el contexto politico y social, es posible que pueda ser susceptible de eliminar

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
133,Palestinian National Authority,847,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Arabic,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.952162,35.233154

In [ ]:
df[df["armed_forces_size"].isna()].head(2)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
3,Andorra,164,AD,40.0,468,NaN,7.20,376.0,Andorra la Vella,469,NaN,NaN,EUR,1.27,34.0,1.51,"3,154,057,987",106.4,NaN,2.7,Andorra la Vella,NaN,NaN,6.63,Catalan,36.4,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
38,Comoros,467,KM,71.5,"2,235",NaN,31.88,269.0,"Moroni, Comoros",202,103.62,-4.3,KMF,4.21,19.7,NaN,"1,185,728,677",99.5,9.0,51.3,"Moroni, Comoros",64.1,273.0,0.71,French,74.8,0.27,"850,886",43.3,NaN,219.6,4.34,"248,152",-11.6455,43.3333

In [44]:
df["armed_forces_size"] = df["armed_forces_size"].str.replace(",", "")

In [47]:
df.head(2)

,country,density,abbreviation,agricultural_land,land_area,armed_forces_size,birth_rate,calling_code,capital/major_city,co2-emissions,cpi,cpi_change,currency-code,fertility_rate,forested_area,gasoline_price,gdp,gross_primary_education_enrollment,gross_tertiary_education_enrollment,infant_mortality,largest_city,life_expectancy,maternal_mortality_ratio,minimum_wage,official_language,out_of_pocket_health_expenditure,physicians_per_thousand,population,population_labor_force_participation,tax_revenue,total_tax_rate,unemployment_rate,urban_population,latitude,longitude
0,Afghanistan,60,AF,58.1,"652,230",323000.0,32.49,93.0,Kabul,"8,672",149.9,2.3,AFN,4.47,2.1,0.70,"19,101,353,833",104.0,9.7,47.9,Kabul,64.5,638.0,0.43,Pashto,78.4,0.28,"38,041,754",48.9,9.3,71.4,11.12,"9,797,273",33.93911,67.709953
1,Albania,105,AL,43.1,"28,748",9000.0,11.78,355.0,Tirana,"4,536",119.05,1.4,ALL,1.62,28.1,1.36,"15,278,077,447",107.0,55.0,7.8,Tirana,78.5,15.0,1.12,Albanian,56.9,1.20,"2,854,191",55.7,18.6,36.6,12.33,"1,747,593",41.153332,20.168331

In [46]:
df["armed_forces_size"] = df["armed_forces_size"].astype(float)

In [51]:
df["population"] = df["population"].str.replace(",", "")

In [52]:
df["population"] = df["population"].astype(float)

In [50]:
df["armed_forces_size"].dtype

dtype('float64')

In [54]:
df_ejercito = df.groupby("armed_forces_size")["population"].mean().reset_index()
df_ejercito.head(5)

   armed_forces_size    population
0                0.0  3.719317e+06
1             1000.0  8.464805e+05
2             2000.0  1.811774e+06
3             3000.0  1.024238e+06
4             4000.0  3.186047e+06

In [ ]:
df[df["armed_forces_size"].isna()].shape

# para practicar, haría un iterative imputer

(24, 35)

In [59]:
imputer_iterative = IterativeImputer(max_iter = 20, random_state = 42)

In [60]:
df["armed_forces_size_iterative"] = imputer_iterative.fit_transform(df[["armed_forces_size", "population"]])[:,0]

In [62]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
agricultural_land,188.0,3.911755e+01,2.178305e+01,0.60,2.170000e+01,39.600,5.537500e+01,8.260000e+01
armed_forces_size,171.0,1.592749e+05,3.806288e+05,0.00,1.100000e+04,31000.000,1.420000e+05,3.031000e+06
birth_rate,189.0,2.021497e+01,9.945774e+00,5.90,1.130000e+01,17.950,2.875000e+01,4.608000e+01
calling_code,194.0,3.605464e+02,3.232364e+02,1.00,8.250000e+01,255.500,5.067500e+02,1.876000e+03
cpi_change,179.0,6.722346e+00,2.445041e+01,-4.30,1.000000e+00,2.300,4.250000e+00,2.549000e+02
fertility_rate,188.0,2.698138e+00,1.282267e+00,0.98,1.705000e+00,2.245,3.597500e+00,6.910000e+00
forested_area,188.0,3.201543e+01,2.379133e+01,0.00,1.100000e+01,32.000,4.817500e+01,9.830000e+01
gasoline_price,175.0,1.002457e+00,3.688585e-01,0.00,7.550000e-01,0.980,1.240000e+00,2.000000e+00
gross_primary_education_enrollment,188.0,1.024702e+02,1.315161e+01,23.40,9.895000e+01,102.550,1.080250e+02,1.425000e+02
gross_tertiary_education_enrollment,183.0,3.796339e+01,2.926102e+01,0.80,1.215000e+01,31.200,6.315000e+01,1.366000e+02
infant_mortality,189.0,2.133280e+01,1.954806e+01,1.40,6.000000e+00,14.000,3.270000e+01,8.450000e+01
life_expectancy,187.0,7.227968e+01,7.483661e+00,52.80,6.700000e+01,73.200,7.750000e+01,8.540000e+01
maternal_mortality_ratio,181.0,1.603923e+02,2.335020e+02,2.00,1.300000e+01,53.000,1.860000e+02,1.150000e+03
minimum_wage,150.0,2.194133e+00,2.970796e+00,0.01,4.025000e-01,1.045,2.447500e+00,1.359000e+01
out_of_pocket_health_expenditure,188.0,3.263723e+01,1.917270e+01,0.20,1.745000e+01,30.700,4.397500e+01,8.160000e+01
physicians_per_thousand,188.0,1.839840e+00,1.684261e+00,0.01,3.325000e-01,1.460,2.935000e+00,8.420000e+00
population,194.0,3.938116e+07,1.450924e+08,836.00,1.962678e+06,8826588.000,2.858549e+07,1.397715e+09
population_labor_force_participation,176.0,6.273807e+01,1.050291e+01,38.00,5.615000e+01,62.450,6.950000e+01,8.680000e+01
tax_revenue,169.0,1.657396e+01,6.961632e+00,0.00,1.170000e+01,16.300,2.110000e+01,3.720000e+01
total_tax_rate,183.0,4.082240e+01,2.055766e+01,8.00,3.060000e+01,37.200,4.800000e+01,2.196000e+02
unemployment_rate,176.0,6.886364e+00,5.079216e+00,0.09,3.395000e+00,5.360,9.490000e+00,2.818000e+01
armed_forces_size_iterative,195.0,1.478867e+05,3.576584e+05,0.00,1.250000e+04,42000.000,1.250000e+05,3.031000e+06

In [ ]:
# Imputación de Valores Nulos: Implementa el método de imputación seleccionado en el paso 2 para llenar los valores nulos en las columnas.

In [ ]:
# Informe: Añade al final de un jupyter una explicación breve que describa las columnas que tenían valores nulos, 
# cómo decidiste imputarlos y cualquier observación adicional que consideres importante sobre el proceso de limpieza de datos.

Nota: Puedes utilizar cualquier método o estrategia de imputación que consideres adecuado para los datos y discutir las ventajas y desventajas de tu elección en el informe.