In [ ]:
import pandas as pd
import numpy as np 

pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames

## Ejercicios Unión de Datos
Para realizar estos ejercicios deberéis usar el conjunto de datos de world-data-2023-part1.csv y el de world-data-2023-part2.csv.

Hoy tenemos un dataset nuevo, en este encontraremos las siguientes columnas:
GDP: Producto Interno Bruto, el valor total de bienes y servicios producidos en el país.
Gross primary education enrollment (%): Tasa bruta de matriculación en educación primaria.
Gross tertiary education enrollment (%): Tasa bruta de matriculación en educación terciaria.
Infant mortality: Número de muertes por cada 1,000 nacidos vivos antes de cumplir un año de edad.
Largest city: Nombre de la ciudad más grande del país.
Life expectancy: Número promedio de años que se espera que viva un recién nacido.
Maternal mortality ratio: Número de muertes maternas por cada 100,000 nacidos vivos.
Minimum wage: Nivel de salario mínimo en moneda local.
Official language: Idioma(s) oficial(es) hablado(s) en el país.
Out of pocket health expenditure: Porcentaje del gasto total en salud pagado directamente por individuos.
Physicians per thousand: Número de médicos por cada mil personas.
Population: Población total del país.
Population: Labor force participation (%): Porcentaje de la población que forma parte de la fuerza laboral.
Tax revenue (%): Ingresos fiscales como porcentaje del PIB.
Total tax rate: Carga fiscal total como porcentaje de las ganancias comerciales.
Unemployment rate: Porcentaje de la fuerza laboral que está desempleada.
Urban_population: Porcentaje de la población que vive en áreas urbanas.
coordinates: Coordenadas de latitud y longitud de la ubicación del país.
country: Nombre del país.

Tienes a tu disposición dos conjuntos de datos, "world-data-2023-part1.csv" y "world-data-2023-part2.csv", que contienen información de una serie de indicadores y datos de distintos países. Tu tarea es explorar estos conjuntos de datos y determinar qué tienen en común en términos de columnas y datos.

Luego, debes crear un nuevo DataFrame que combine la información de ambos conjuntos de datos en un solo conjunto de datos. Para hacerlo, debes seleccionar el método de unión de Pandas que consideres más apropiado para esta situación y justificar por qué crees que ese método es el mejor en tu informe.

Asegúrate de realizar los siguientes pasos:

In [ ]:
# Explora y carga ambos conjuntos de datos en pandas DataFrames.

In [ ]:
# Identifica las columnas comunes entre los dos conjuntos de datos.

In [ ]:
# Utiliza el método de unión de Pandas que consideres más adecuado para combinar los datos de ambos años en un solo DataFrame.

In [ ]:
# Explica por qué elegiste ese método de unión y cómo se llevaron a cabo los pasos anteriores.

## Ejercicios de Limpieza

In [ ]:
# Después de la unión de datos, tenemos dos columnas de "country". Elimina una de ellas.

In [ ]:
# Los nombres de las columnas no son homogeneos. Cambia los nombres de las columnas de tal forma que:
# - No tengan espacios.

# - Estén en minúscula.

# - No tengan paréntesis, es decir, quitar "(%)", "(Km2)".

# - Algunas columnas tiene "\n". Eliminalos de los nombres de las columnas.

# - Algunas columnas tienen ":". Eliminalos de los nombres de las columnas.

In [ ]:
# La columnas coordinates tiene la latitud y la longitud en una sola columna. 
# Crea dos columnas nuevas, una con la longitud y otra con la latitud. Una vez hecho, elimina la columna de coordinates.

In [ ]:
# Las columnas unemployment_rate, total_tax_rate, tax_revenue, population_labor_force_participation, out_of_pocket_health_expenditure,
# gross_tertiary_education_enrollment, gross_primary_education_enrollment, forested_area, cpi_change, agricultural_land tienen "%". 
# Elimina los "%" de los valores de las columnas.

In [ ]:
# Haz lo mismo para las columnas de gasoline_price, gdp, minimum_wage, pero eliminando "$".

In [ ]:
# Guarda el DataFrame para usarlo posteriormente.

## Ejercicios de Filtrado

In [ ]:
# Encuentra todos los países cuya mortalidad infantil esté entre 40 y 50 personas por kilómetro cuadrado.

In [ ]:
# Encuentra los países cuyas tasas de natalidad son mayores o iguales a 20 y su esperanza de vida es mayor de 75 años.

In [ ]:
# Encuentra las ciudades cuyos paises contienen la palabra "la" en su nombre.

In [ ]:
# Encuentra los países cuyos medicos por cada 1000 habitantes (physicians_per_thousand) sea mayores de 5.

In [ ]:
# Encuentra los países cuyatasa de fertilidad sea mayor a 6.

In [ ]:
# Encuentra los países cuya moneda es el euro (EUR) y tienen una tasa de natalidad superior al promedio.

In [ ]:
# Encuentra los países cuyas tasas de mortalidad infantil son superiores a 70.